# Ignore Terraform state and backup files
*.tfstate
*.tfstate.backup

# Ignore .terraform directory
.terraform/

# Ignore crash logs
crash.log

# Ignore provider binary files
.terraform/providers/.terraform/
